@media (min-width: 1024px) {
  #header .mobile-menu-btn {
    display: none;
  }
}
@media (max-width: 1023px) {
  #footer a {
    padding: 0 5px;
  }
  #footer > a > i {
    font-size: 25px;
  }
}
@media (max-width: 740px) {
  .s-full-width,
  .s-col-full {
    width: 100%;
  }
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav .subnav {
    position: initial;
    background-color: black;
  }
  #nav .subnav a {
    color: white;
    padding: 5px 41px;
  }
  #header {
    overflow: hidden;
  }
  #header .search-button {
    display: none;
  }
  #header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  #content .members-list img {
    width: 60%;
  }

  .form-contact > .col.col-half {
    margin-top: 20px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  #header .mobile-menu-btn {
    display: none;
  }
}
